.mapleaflet {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;

    > button {
        z-index: 10000;
    }
}

.mapleaflet__container {
    width: 100%;
    height: 100vh;
    z-index: 0;
    position: absolute;
    cursor: none;
    justify-content: center;
    align-items: center;
    display: flex;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        z-index: 401;
        top: 0;
        left: 0;
        position: absolute;
        background-image: radial-gradient(48.79% 73.09% at 50.03% 46%, rgba(5, 5, 13, 0.3) 0%, rgba(5, 5, 13, 0.9) 100%)
    }
}

.mapleaflet__icon {
    filter: invert(0%);
}