@import "../../../config/color.scss";
@import "../../../config//carousel.scss";

.container__wrapper {
    > h2 {
        margin-bottom: 60px;
    }
    @media screen and (max-width: calc($web-width - 300px)) {
        .partners__item {
            width: 270px;

            >img {
                width: 250px;
                margin-top: 30%;
            }
        }
    }
    @media screen and (max-width: calc($web-width - 800px)) {
        
    }
}

.partners__wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.partners__carousel {
    width: 100%;
    height: 35vh;
    position: relative;
}

.partners__item {
    width: 350px;
    height: 300px;
    min-width: 270px;
    vertical-align: middle;
    border: 1px solid $medium-gray-color;
    text-align: center;
    > img {
        pointer-events: none;
    }
}

.partners__item > img {
    margin-top: 20%;
}

.partners__item:nth-child(5) > img {
    margin-top: 30%;
}
