@import '../../config/color.scss';

.article__large {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    width: 100%;
    background-color: $black-light-color;

    >img {
        width: calc(2*100% / 5);
        object-fit: cover;
    }

    @media screen and (max-width: calc($web-width - 600px)) {
        flex-direction: column;
        .article__body {
            width: 90%;
        }
        >img {
            width: 100%;
            height: 30%;
            aspect-ratio: 2/1;
        }
        height: 100%;
    }
}

.article__small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 300px;
    width: calc(50% - 10px);
    background-color: $black-light-color;

    @media screen and (max-width: calc($web-width - 600px)) {
        flex-direction: column;
        width: 100%;
    }
}

.article__body {
    display: block;
    padding: 60px;
    width: 90%;
    position: relative;

    @media screen and (max-width: calc($web-width - 600px)) {
        padding: 20px;
    }
}

.article__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article__text {
    margin-top: 160px;
    bottom: 0;
    word-wrap: break-word;
    > p {
        margin-top: 20px;
    }
    @media screen and (max-width: calc($web-width - 600px)) {
        margin-top: 60px;
    }
}

.article__journal {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}