@import "../../config/color.scss";

.hamburger__container {
    width: 70px;
    z-index: 1;
}

.menu__container {
    display: flex;
    position: absolute;
    vertical-align: middle;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    position: absolute;
    padding-top: 50px;
    padding-bottom: 50px;
    right: -100%;
    width: 100%;
    background: rgba(34, 34, 41, 1);
    transition: all 0.6s ease-in-out;
}

#active:checked ~ .menu__container{
    /*left: 0;*/
    right:  0px;
}

.menu__btn {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu__btn span,
.menu__btn:before,
.menu__btn:after{
	content: "";
    position: relative;
    display: block;
	top: calc(50% - 1px);
    height: 1px;
    width: 40px;
	border-bottom: 2px solid $white-color;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

input[type="checkbox"]{
    display: none;
}

.menu__btn:before{
    transform: translateY(-8px);
}
.menu__btn:after{
    transform: translateY(8px);
}

.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

#active:checked + .menu__btn span {
	transform: scaleX(0);
}
#active:checked + .menu__btn:before {
	transform: rotate(45deg);
    border-color: #fff;
}
#active:checked + .menu__btn:after {
    top: 18px;
	transform: rotate(-45deg);
    border-color: #fff;
}

.navlink {
    margin-top: 2px;
    border-bottom: 2px solid $white-color;
}

.menu__container a {
    margin-left: 200px;
    opacity: 0;
}

#active:checked ~ .menu__container a{
    opacity: 1;
}
.menu__container a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}
#active:checked ~ .menu__container a{
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1);
    transition-delay: .6s;
    transform: translateX(-100px);
}
