@import "../../../config/color.scss";
@import "../../../config/carousel.scss";

.project__business_task_text {
    margin-top: 60px;
    column-count: 2;
    column-gap: 100px;
    @media screen and (max-width: calc($web-width - 500px)){
        column-count: 1;
    }
}

.project__carousel {
    width: 100%;
    height: 50vh;
    position: relative;
    @media screen and (max-width: calc($web-width - 800px)){
        height: 35vh;
    }
}

.project__business_task_illustration {
    width: 90%;
    height: 50vh;
    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media screen and (max-width: calc($web-width - 400px)){
        width: 100%;
    }

    @media screen and (max-width: calc($web-width - 800px)){
        height: 35vh;
    }
}