@import "../../../config/color.scss";
@import "../../../config//carousel.scss";

.projects__container_wrapper {
    background-color: $white-color;
    padding-top: 160px;
    margin: 0px 130px 0px 130px;
    >h2 {
        color: $black-color;
    }
    >button {
        margin-top: 20px;
        border-color: $black-color;
        width: 100%;
        color: $black-color;
        &:after {
            background: $black-color;
            color: $white-color;
        }
        &:hover:not(:disabled) {
            color: $white-color;
        }
    }
    padding-bottom: 160px;

    @media screen and (max-width: calc($web-width - 400px)) {
        margin: 0px 20px 0px 20px;
        padding-top: 80px;
        padding-bottom: 80px;
        .carousel__img {
            object-fit: cover;
        }
    }
}

.projects__carousel_image_container {
    width: 100%;
    height: 45vh;
}

.projects__carousel {
    width: 100%;
    height: 50vh;
    position: relative;
}

.carousel__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
