@import "../../../config//color.scss";

.container__search {
    >video {
        width: 100%;
        height: 100%;
        background-position: center center;
        object-fit: cover;
        z-index: 0;
        aspect-ratio: 4/3;
    }

    >img {
        width: 100%;
        height: 100%;
        background-position: center center;
        object-fit: cover;
        z-index: 0;
    }

    position: relative;

    >.search__project {
        z-index: 2;
        position: absolute;
    }
}

.container__illustration {
    height: 100vh;
    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    };
    >video {
        width: 100%;
        height: 100%;
        background-position: center center;
        object-fit: cover;
        z-index: 0;
        aspect-ratio: 4/3;
    }
}

.search__gradient {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    linear-gradient(270.31deg, rgba(0, 0, 0, 0.2) 36.85%, rgba(0, 0, 0, 0) 99.64%);
    width: 100%;
    height: 100%;
    min-height: 600px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.search__project {
    width: auto;
    padding-left: 130px;
    padding-right: 130px;
    position: absolute;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    >h1 {
        line-height: 1.2;
    }
    >button {
        margin-top: 40px;
    }
    >form {
        >button {
            margin-top: 30px;
        }
    }
    @media screen and (max-width: calc($web-width - 600px)) {
        padding-left: 5vw;
        padding-right: 5vw;
        >h1 {
            font-size: 50px;
        }
    }
}
