@import '../../config/color.scss';

.contacts__container {
    height: 85vh;
    position: relative;
    @media screen and (max-width: calc($web-width - 600px)) {
        height: 70vh;
        .contacts__wrapper {
            left: 20px;
        }
    }
}

.contacts__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 80px;
    z-index: 10;
    bottom: 50px;
    left: 130px;
}

.contacts__item {
    > h4 span {
        color: $gray-color;
        font-size: 24px;
    }
}

.contacts__wrapper_swipable {
    padding-top: 100px;
    padding-left: 20px;
    cursor: grab;
}
