@import "../../config/color.scss";

.project__card {
    position: relative;
    width: calc(50% - 10px);
    &:hover {
        .project__gradient {
            opacity: 0;
        }
        cursor: pointer;
        .project__illustration {
            > img {
                transform: scale(1.05);
            }
        }
    }

    @media screen and (max-width: calc($web-width - 600px)) {
        flex-direction: column;
        width: 100%;
    }
}

.project__card_content {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 30px;
    > p {
        color: $white-color;
    }
}

.project__gradient {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    linear-gradient(270.31deg, rgba(0, 0, 0, 0.2) 36.85%, rgba(0, 0, 0, 0) 99.64%);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.project__illustration {
    overflow: hidden;
    >img {
        display: block;
        transition: 1s;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    };
}
