@import "../../../config/color.scss";

.zoom_tool {
    position: absolute;
    right: 24px;
    top: 50%;
    z-index: 500;
    display: flex;
    flex-direction: column;
    border: 2px solid $gray-color;
    border-radius: 10px;
}

.zoom_tool__item {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-align: center;
    > svg {
        transform: translateY(40%);
    }
    &:first-child {
        border-bottom: 2px solid $gray-color;
    }
}