@import "../../../config/color.scss";

.project__feature_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .project__feature_item:last-child {
        margin-top: 25px;
    }
    @media screen and (max-width: calc($web-width - 400px)){
        flex-wrap: wrap;
        .project__feature_item {
            width: 100%;
            :last-child {
                width: 100%;
            }
        }
    }
}

.project__feature_item {
    min-width: 300px;
    width: calc(250px + 30%);
}