@import '../../../config/color.scss';

.contacts__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 190px;
    @media screen and (max-width: calc($web-width - 800px)) {
        >.contacts__item:first-child {
            margin-bottom: 40px;
        }

        >.contacts__item {
            flex-basis: 100%;
        }
    }
}

.email__input {
    margin-top: 70px;
    size: 24px;
    font-size: 24px;
    width: 100%;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $white-color;
    background-color: transparent;
    border-bottom: 1px solid $white-color;
}

.email__input:focus {
    outline: none;
}

@keyframes pop {
    0% { opacity:0; }
    75% {opacity:1; }
    100% { transform: scale(1.1); }
}

.checkbox__input {
    display: none;
}

.checkbox__input + label span{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 25px;
    line-height: 1.1;
    margin-top: -4px;
    border: 1px solid $white-color; 
    background: transparent;
    &:before {
        content: "";
        z-index: 1;
        width: 26px;
        height: 26px;
    }
    &:after {
        z-index: 0;
        border: none;
    }
}

.checkbox__input:checked + label span{
    animation: pop .5s ease;
    z-index: 10;
    text-align: center;
    font-size: 25px;
    line-height: 1.1;
    background: $white-color;
    &:before {
        content: " ✔";
        z-index: 1;
        width: 26px;
        height: 26px;
    }
    &:after {
        z-index: 0;
        border: none;
    }
}

.contacts__item {
    flex-basis: 47%;
    position: relative;
    min-height: 345px;
    > h2 {
      font-weight: 500;
      line-height: 1;
    }

    > button {
        margin-top: 60px;
        width: 100%;
    }

    @media screen and (max-width: calc($web-width - 100px)) {
        flex-basis: 40%;
    }
}

.contacts__contact_info {
    box-sizing: border-box;
    padding: 50px;
    background-color: $black-light-color;
    word-wrap: break-word;

    >h3 {
        line-height: 1.2;
    }

    > p {
        margin-top: 20px;
        color: $white-color;
    }
    @media screen and (max-width: calc($web-width - 450px)) {
        margin-top: 20px;
    }

    @media screen and (max-width: calc($web-width - 800px)) {
        padding: 20px;
        margin-top: 0px;
        width: 80%;
        >h3 {
            font-size: calc(32px + 5%);
        }
    }
}

.confirm__personal_data {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    > p {
        color: $white-color;
        margin-left: 10px;
    }
    >label {
        height: 26px;
    }
}

.location__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 0;
    @media screen and (max-width: calc($web-width - 220px)) {
        margin-top: 30px;
    }
}

.contacts__info_wrapper {
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > div > p {
        margin-top: 5px;
    }

    > div:last-child {
        margin-right: 10px;
    }
}
