@import "../../../config/color.scss";

.project__title {
    position: relative;
    >.project__title_text {
        z-index: 2;
        position: absolute;
    }
}

.project__illustration_title {
    height: 60vh;
    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    };
}

.project__gradient_title {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    linear-gradient(270.31deg, rgba(0, 0, 0, 0.2) 36.85%, rgba(0, 0, 0, 0) 99.64%);
    width: 100%;
    height: 60vh;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.project__title_text {
    width: auto;
    position: absolute;
    display: flex;
    padding-left: 130px;
    padding-right: 130px;
    transform: translateY(50%);
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    >button {
        margin-top: 10px;
    }
    >form {
        >button {
            margin-top: 10px;
        }
    }
    @media screen and (max-width: calc($web-width - 600px)) {
        padding-left: 5vw;
        padding-right: 5vw;
        >h1 {
            font-size: 50px;
        }   
    }
}