@import "../../config/color.scss";

.project__container {
    margin: 160px 115px 0px 115px;
    padding-bottom: 160px;
    background-color: transparent;
    @media screen and (max-width: calc($web-width - 400px)) {
      margin: 80px 20px 0px 20px;
      width: 95%;
      justify-content: center;
    }

    background-color: transparent;
    @media screen and (max-width: calc($web-width - 800px)) {
      margin: 80px 0px 0px 0px;
      width: 100%;
    }
}