@import "./color.scss";

%partners__carousel_button {
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    background-color: $black-transparent;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    &:after {
        transition: none;
        transform: none;
        clear: both;
        background: transparent;
    }
}

.button_group__container {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.carousel__white_button {
    background-color: rgba(225, 225, 225, 0.6);
    .arrow {
        border: solid $black-light-color;
        border-width: 0 3px 3px 0;
    };
}

.partners__carousel_prev {
    @extend %partners__carousel_button;
    float: left;
}

.partners__carousel_next {
    @extend %partners__carousel_button;
    float: right;
}

.arrow {
    border: solid $white-color;
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 8px; 
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 8px; 
}