$white-color: #ffffff;
$gray-color: #888888;
$medium-gray-color: #383838;
$dark-gray-color: #26292D;
$black-color: #05050D;
$black-light-color: #0F0F18;
$black-transparent: rgba(34, 34, 41, 0.8);
$web-width: 1440px;
