@import 'color.scss';

button {
    background: transparent;
    position: relative;
    z-index: 1;
    color: $white-color;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    border: 1px solid $white-color;
    padding: 25px 40px;
    span.arrow {
        background: url(assets/arrow.svg) no-repeat;
        display: inline-block;
        position: relative;
        width: 60px;
        height: 34px;
        margin-left: 28px;
        vertical-align: text-bottom;
    }

    @media screen and (max-width: calc($web-width - 600px)) {
        padding: 20px 40px;
    }

    @media screen and (max-width: calc($web-width - 1000px)) {
        span.arrow {
            display: none;
        }
        font-size: 20px;
    }
}

button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: $white-color;
    z-index: -1;
    transition: transform 0.3s;
}
button:hover:not(:disabled)::after {
    transform: scaleY(1);
}

button:hover:not(:disabled) {
    color: $black-color;
    cursor: pointer;
    span.arrow {
        filter: invert(100%);
    }
}

button:disabled {
    opacity: 0.5;
}
