@import './color.scss';

%typography-base {
    margin: 0;
    color: $white-color;
    align-self: stretch;
}


h1 {
    font-size: 80px;
    line-height: 95px;
    font-weight: 700;
    @extend %typography-base;
    @media screen and (max-width: calc($web-width - 600px)){
        font-size: 40px;
        line-height: 45px;
    }
}

h2 {
    font-size: 52px;
    line-height: 65px;
    text-transform: uppercase;
    font-weight: 500;
    @extend %typography-base;
    @media screen and (max-width: calc($web-width - 600px)){
        font-size: 35px;
        line-height: 40px;
    }
}

h3 {
    font-size: 48px;
    line-height: 55px;
    font-weight: 500;
    @extend %typography-base;
    @media screen and (max-width: calc($web-width - 600px)){
        font-size: 30px;
        line-height: 35px;
    }
}

h4 {
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    @extend %typography-base;
    @media screen and (max-width: calc($web-width - 600px)){
        font-size: 24px;
        line-height: 30px;
    }
}

h5 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    @extend %typography-base;
    @media screen and (max-width: calc($web-width - 600px)){
        font-size: 20px;
        line-height: 25px;
    }
}

h6 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: $gray-color;
    @extend %typography-base;
    @media screen and (max-width: calc($web-width - 600px)){
        font-size: 16px;
        line-height: 25px;
    }
}

p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    overflow-wrap: break-word;
    @extend %typography-base;
    color: $gray-color;
    @media screen and (max-width: calc($web-width - 600px)){
        font-size: 14px;
        line-height: 20px;
    }

    > span {
        text-decoration: none;
        height: 5px;
        border-bottom: 1px solid $white-color;
        padding-bottom: 1px;
    }

    &:has(span) {
        line-height: 1.2;
    }
}

a {
    @extend %typography-base;
    text-decoration: none;
    font-size: 18px;
}
