@import "../../config/color.scss";

.project__text {
    max-width: 880px;
    min-width: 300px;
    word-wrap: break-word;
    > p {
        font-size: 20px;
        color: $white-color;
    }
}

.project__container_illustration {
    height: 100vh;
    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    @media screen and (max-width: calc($web-width - 800px)) {
        height: 40vh;
    }
}

.project__container_description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project__button {
    width: 100%;
    margin-top: 70px;
}