@import '../../config/color.scss';

.header {
    display: flex;
    width: 100vw;
    position: fixed;
    vertical-align: middle;
    flex-direction: row;
    justify-content: space-between;
    height: 75px;
    transition: background 0.3s ease-in;
    background: $black-transparent;
    z-index: 10;
    backdrop-filter: blur(16px);
    > p, a {
        align-self: center;
    }

}

.navlinks__container {
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
}

.navlink__box {
    height: 100%;
    text-align: center;
    display: flex;
    box-shadow: inset 0 -2px 0 rgba($white-color, 0);
    transition: box-shadow 0.3s ease-in;

    >a {
        align-self: center;
    }
    &:hover {
        box-shadow: inset 0 -2px 0 $white-color;
    }
}

.navlink {
    height: 100%;
    box-shadow: inset 0 -2px 0 $white-color;
}

.language {
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    gap: 30px;
    margin-right: 130px;
    button {
        border: none;
        padding: 0;
        font-size: 16px;
        &:after {
            transition: none;
            transform: none;
            clear: both;
            background: transparent;
        }
        &:hover {
            color: $white-color;
        }
    }
}

.logo {
    margin-left: 130px;
    > svg {
        vertical-align: middle;
    }
    @media screen and (max-width: $web-width) {
        margin-left: 10%;
    }
}


