@import '../../../config/color.scss';

%container_about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10vw;

    @media screen and (min-width: $web-width) {
        .container__about_item {
            width: 40%;
        }
    }

    @media screen and (max-width: calc($web-width - 100px)) {
        .container__about_item {
            width: calc(250px + 10%);
        }
    }

    @media screen and (max-width: calc($web-width - 640px)) {
        > .container__about_item {
            width: 100%
        }
    }
}

.container__about_first {
    @extend %container_about;
    @media screen and (max-width: calc($web-width - 640px)) {
        gap: 0vw;
    }
}

.container__about_second {
    @extend %container_about;
    margin-top: 100px;
    @media screen and (max-width: calc($web-width - 640px)) {
        margin-top: 60px;
        gap: 60px;
    }
}

.container__about_third {
    @extend %container_about;
    margin-top: 100px;
    gap: 0;
    justify-content: center;

    @media screen and (max-width: calc($web-width - 600px)) {
        margin-top: 60px;
        justify-content: left;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 0px;
        row-gap: 50px;
        margin-right: 0px;
        > .container__about_item_pref {
            flex-basis: 50%;
        }
    }
}

.container__about_item {
    width: calc(250px + 20%);

    :last-child {
        margin-top: 15px;
    }

}

.container__about_item_pref {
    width: calc(85px + 20%);

    :last-child {
        margin-top: 5px;
    }
}