@import '../../config/color.scss';

.footer {
    height: 105px;
    display: flex;
    vertical-align: middle;
    width: 100%;
    position: absolute;
    flex-direction: row;
    margin-top: -105px;
    justify-content: space-between;
    > p, a {
        align-self: center;
    }
    @media screen and (max-width: calc($web-width - 600px)) {
        flex-direction: column;
        height: auto;
        .cross__links {
            flex-direction: column;
            gap: 20px;
            :last-child {
                margin-bottom: 20px;
            }
        }
        .arrow__button_up {
            position: fixed;
            align-self: self-end;
            bottom: 0;
            right: 0;
            margin-right: 20px;
            margin-bottom: 30px;
            background-color: $white-color;
            width: 52px;
            height: 50px;
            justify-content: center;
            z-index: 10;
            vertical-align: middle;
            .arrow__button {
                margin-top: 5px;
                filter: invert(100%);
            }
        }
        .logo {
            margin: 20px 0px 20px 0px;
        }
    }
}

.logo {
    color: $black-color;
    font-weight: 700;
    font-size: 20px;
    margin-left: 130px;
}

.cross__links {
    display: flex;
    flex-direction: row;
    gap: 80px;
}


.arrow__button_up {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    margin-right: 130px;
    transition: opacity 0.3s ease-in;
}

.button__up{
    border: none;
    padding: 0;
    &:after {
        transition: none;
        transform: none;
        clear: both;
        background: transparent;
    }
}

.arrow__button {
    transform: rotate(-45deg);
}
