@import "../../config/color.scss";

.media__link {
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;

    >a {
        align-self: center;
        border-bottom: 2px solid $white-color;
    }
}