@import "../../../config/color.scss";

.project__data_wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-between;
    gap: 30px;
    @media screen and (max-width: calc($web-width - 300px)){
        flex-basis: 50%;
        flex-wrap: wrap;
    }
}

.project__data_item {
    width: 300px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    >h5 {
        margin-top: 10px;
    }
}