@import "../../../config/color.scss";

.project__explanation_wrapper {
    padding-top: 160px;
    margin: 0px 130px 0px 130px;
    padding-bottom: 160px;

    @media screen and (max-width: calc($web-width - 600px)) {
        margin: 0px 20px 0px 20px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.project__explanation_container {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    gap: 100px;
    margin-top: 60px;
    @media screen and (max-width: calc($web-width - 600px)) {
        flex-basis: 100%;
        flex-wrap: wrap;
    }
}

.project__explanation_item {
    >h2, h4, p {
        color: $black-color;
    }
    p {
        margin-top: 10px;
    }
}