@import './config/typography.scss';
@import './config/inputs.scss';
@import './config/color.scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');
:root {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: $black-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: overlay;
}

::-webkit-scrollbar {
  cursor: grab !important;
  width: 7px;
  background-color: transparent;
}

::-webkit-scrollbar {
  cursor: grab !important;
}
::-webkit-scrollbar-thumb {
  cursor: grab !important;
  background-color: $gray-color;
  border-radius: 10px;
  background-clip: padding-box;
}

body {
  margin: 0;
  min-width: 375px;
  min-height: 100vh;
}

img,
video {
  pointer-events: none;
}

video::-webkit-media-controls {
  display:none !important;
}
video::-webkit-resizer {
  display:none !important;
}

.container {
  margin: 130px 115px 0px 115px;
  background-color: transparent;
  @media screen and (max-width: calc($web-width - 400px)) {
    margin: 80px 20px 0px 20px;
    justify-content: center;
  }
}

.container_inner_item {
  margin: 130px 115px 0px 115px;
  background-color: transparent;
  justify-content: center;
  @media screen and (max-width: calc($web-width - 400px)) {
    margin: 80px 20px 0px 20px;
    width: 90%;
    justify-content: center;
  }
}

.container__white {
  margin-top: 160px;
  background-color: $white-color;
  :last-child {
    >h2, h4, p {
      color: $black-color;
    }
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
.leaflet-control-attribution a:first-child svg {
  display: none;
}

.leaflet-control-attribution {
  z-index: 402;
}

.leaflet-top {
  display: none;
}

// .leaflet-bar a {
//   background-color: $black-color;
//   > span {
//     color: $white-color;
//   }
// }

$leaflet-filter: invert(1) grayscale(1);

.leaflet-tile {
  -webkit-filter: $leaflet-filter;
  filter: $leaflet-filter;
}

.leaflet-container {
  background: #303030;
}

